@charset "UTF-8";

/* 回答はここに書いてね */

.comment-box {
  margin: 0 auto;
  width: 550px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  border: solid 5px #222;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
}

.comment-box:before {
  content:"";
  position: absolute;
  border-top: 18px solid white;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  z-index: 2;
  bottom: -18px;
  left: 32px;
}

.comment-box:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 30px;
  border-top: 20px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 1;
}

.sentence {
  margin: 0;
}
/* 回答はここに書いてね */
