@charset "UTF-8";

/* 回答はここに書いてね */

.layout {
  padding: 20px;
}

.background {
  width: 100%;
  display: table;
  margin-bottom: 20px;
}

.background:last-child {
  margin-bottom: 0;
}

.q4_box {
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.orange {
  background-color: #fbc8b8;
  width: 100px;
}

.purple {
  background-color: #e0abd9;
}

.lightblue {
  background-color: #b6d8ed;
  width: 100px;
}

.yellow {
  background-color: #e5d32e;
}

.pink {
  background-color: #ec8f9a;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
