/* 回答はここに書いてね */
@charset "utf-8";

.background {
  width: 500px;
  /*height: 333px;*/
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.hover_photo {
  transition-duration: 0.5s;
}

.background:hover .hover_photo {
  transform: scale(1.5);
}

.div_sentence {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
.p_sentence {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  color: white;
  word-break: break-all;
}

.background:hover .div_sentence {
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,8));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,8));
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,8));
}

.back {
  text-align: center;
}

.curcle {
  border: 10px solid #ecf1f2;
  border-right-color: #00bcd4;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 回答はここに書いてね */
