@charset "UTF-8";

/* 回答はここに書いてね */

.food tr, th, td {
  text-align: center;
  padding: 10px;
}

.food {
  width: 100%;
  table-layout: fixed;
}

.food  th, .food td {
  border: solid #dedede 1px;
}

.food th {
  background-color: #24a;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.food tr:nth-child(2n+1) {
  background-color: #ecf1f2;
}

.food tr:last-child {
  border-top: dashed #000 2px;
}



インデント揃える
指定を明確に

/* 回答はここに書いてね */
